{{page-title "MyBoard"}}
<div class="ui green segment">
  <div class="ui secondary menu">
    <div class="ui right item">
      <span class="ui label">{{@model.employee.email}}</span>
      <button class="ui black button" {{action "logout"}}>
        Logout
      </button>
        <div class="ui right item">
          <button {{action "goStore"}} class="ui positive button">Gestion du Store</button>
        </div>
    </div>
  </div>
</div>

<div class="ui basic inverted black segment">
  <h2>Orders</h2>
</div>

<div class="ui container" >
  <div class="ui grid container">
    <table class="ui celled table">
      <tr class="center aligned">
        <th>Client</th>
        <th>Date de commande</th>
        <th>Status</th>
        <th>Nombre de colis</th>
        <th>A payé</th>
        <th>Quantité</th>
        <th>Quantité manquant</th>
      </tr>
      {{#each @model as |board|}}
        <tr class="center aligned">
          <td>{{board.user.name}}</td>
          <td>{{moment-format val.dateCreation 'LLLL'}}</td>
          <td>{{board.dateCreation}}</td>
          <td>{{board.status}}</td>
          <td>{{board.amount}}</td>
          <td>{{board.toPay}}</td>
          <td>{{board.itemsNumber}}</td>
          <td>{{board.missingNumber}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>



<ul>
  {{#each @model.orders as |order|}}
    <li>

      <!-- <LinkTo @route="order" @model={{order.id}}> -->
        {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
      <!-- </LinkTo> -->

    </li>
  {{/each}}
</ul>
{{outlet}}
